In [1]:
import os
import pandas as pd

In [2]:
path_prices = "Processed Datasets/prices_spy_qqq_2015_2025_stooq.csv"
path_sentiment = "Processed Datasets/2015-2025_sentiment.csv"

In [3]:
prices = pd.read_csv(path_prices)
sentiment = pd.read_csv(path_sentiment)

prices["Date"] =  pd.to_datetime(prices["Date"], errors="coerce").dt.normalize()
sentiment["Date"] =  pd.to_datetime(sentiment["Date"], errors="coerce").dt.normalize()

In [4]:
merged = prices.merge(sentiment, on="Date", how="left")
merged = merged[["Ticker","Date","Open","High","Low","Close","Volume","Sentiment","label_up_next"]]
merged

,Ticker,Date,Open,High,Low,Close,Volume,Sentiment,label_up_next
0,QQQ,2015-01-02,95.7833,96.1811,94.5548,95.0215,33920142,0.569404,0.0
1,QQQ,2015-01-05,94.6011,94.7069,93.3638,93.6168,39552414,0.715140,0.0
2,QQQ,2015-01-06,93.7599,93.9255,91.9571,92.3698,71694249,0.394994,1.0
3,QQQ,2015-01-07,92.9902,93.7795,92.7642,93.5619,40703138,-0.297627,1.0
4,QQQ,2015-01-08,94.3568,95.5470,94.2520,95.3706,43549097,-0.242861,0.0
...,...,...,...,...,...,...,...,...,...
5401,SPY,2025-09-25,657.9400,659.4056,654.4050,658.0500,89622067,NaN,1.0
5402,SPY,2025-09-26,659.5100,662.3700,657.8800,661.8200,69179209,NaN,1.0
5403,SPY,2025-09-29,664.3600,665.2800,661.8600,663.6800,73499015,NaN,1.0
5404,SPY,2025-09-30,662.9300,666.6500,661.6100,666.1800,86288028,NaN,1.0
5405,SPY,2025-10-01,663.1700,669.3700,663.0600,668.4500,72545369,NaN,NaN

In [5]:
os.makedirs("Processed Datasets", exist_ok=True)
out_merged = "Processed Datasets/merged_OHLCV_Sentiment.csv"
merged.to_csv(out_merged, index=False)